services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:

      POSTGRES_DB: corecompliancedb
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev123
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dev -d corecompliancedb"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db 
      DB_NAME: corecompliancedb
      DB_USER: dev
      DB_PASSWORD: dev123
      SECRET_KEY: 'django-insecure-=p+wd07nn!=a%c44ucv+vsr_-#d#6i^7gvq=(*d0xb3l4eo5g_' 
      DEBUG: 'True'
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: